name: wave_slider_flutter
description: A customizable animated wave slider for Flutter inspired by Android 13 media slider.
version: 0.1.0
homepage: https://github.com/dipesh-panchal/wave_slider_flutter
repository: https://github.com/dipesh-panchal/wave_slider_flutter

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0


flutter:
  uses-material-design: true
